{% extends "base.html" %}

{% block content %}
{% set prof_list =['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач', 'инженер по терраформированию',
'климатолог', 'специалист по радиационной защите', 'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения',
'метеролог', 'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов'] %}

{% if 'ol' == list %}
<ol>
    {% for prof in prof_lost %}
    <li>prof</li>
    {% endfor %}
</ol>
{% elif 'ul' == list %}
<ul>
    {% for prof in prof_lost %}
    <li>prof</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}