{% extends "base.html" %}

{% block content %}
    {% set prof_list =['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач', 'инженер по терраформированию','климатолог', 'специалист по радиационной защите', 'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения', 'метеролог', 'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов'] %}
    {% if 'ol' == list %}
        <ol>
            {% for prof in prof_list %}
            <li>{{ prof }}</li>
            {% endfor %}
        </ol>
    {% elif 'ul' == list %}
        <ul>
            {% for prof in prof_list %}
            <li>prof</li>
            {% endfor %}
        </ul>
    {% else %}
        <h5> РУРУ </h5>
    {% endif %}
{% endblock %}