<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Миссия Колонизация Марса</h1>
        <h4>И на Марсе будут яблони цвести!</h4>
        {% if 'инженер' in prof or 'строитель' in prof %}
            <h3>Инженерные тренажёры</h3>
            <img src="/static/img/ing.png">
        {% else %}
            <h3>Научные симуляторы</h3>
            <img src="/static/img/sci.png">
        {% endif %}
    </body>
</html>